

@{
    Layout = "~/Areas/CaliforniaMegaMillions/Views/Shared/TechieLayout.cshtml";
    ViewBag.Title = "Techie Mail";
}

<div style="text-align:center">
    <h3 style="color:blue; font-family:'Arial Rounded MT'">For information about this site please contact:</h3>
    <h3><a style="text-decoration: none;  border-bottom: 1px solid blue;
color:blue; font-family:'Arial Rounded MT'" href="mailto:gary@techie-mail.com">gary@techie&#8209;mail.com</a></h3>
</div>

