﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<h4 class="text-danger">An error occurred while processing your request.</h4>
<h4 class="text-danger">Make sure you have cookies enabled in your browser.</h4>


